footer{
    .content-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 56px 0 96px;
        
        .rov-left, .rov-left{
            display: flex;
            justify-content: space-between;
            align-items: center;

           
        
        }

        .arrow-new{
            margin-right: 16px;
        }
        .arrow-old{
            margin-left: 16px;
        }
        a{
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.04em;
            color: #356EAD;
            text-decoration: none;
            

        }
    }
}