.header{
    .navbar{
        height: 48px;
        width: calc(100% - 166px);
        margin: 0 83px 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 45px;
    }
    
      .burger{
        float: right;
        height: 25px;
        width: 40px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-items: center;
        cursor: pointer;
      } 
      .menulogo{
          height: 3px;
          width: 24px;
          background-color: $color-3;
      }
    
 
}

.card{
 
  img{
    width: 300px;
    height: 200px;
  }
  }