.four-columns-panel {
  width: 100%;
  height: 250px;
  background-image: url("/assets/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 56px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .main-info {
    width: 780px;
    margin: 0 10px;

    .main-title {
      font-size: 44px;
      line-height: 74px;
      color: $white;
      font-family: "Open Sans";
      font-weight: 600;
    }
    .main-text {
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 4%;
      color: rgba(255, 255, 255, 0.4);
    }
  }
}

.search {
  width: 940px;
  margin-bottom: 0;
  position: relative;

  input {
    outline: none;
    width: 100%;
    height: 56px;
    background: #f4f4f4;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    padding-left: 74px;
    box-sizing: border-box;
  }
  button {
    opacity: 0.6;
    position: absolute;
    left: 25px;
    top: 16px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
  }
  img {
    opacity: 0.6;
    position: relative;
    width: 100%;
    height: 100%;
  }
}
